extends baseEmail

block content
  // From
  // To
  // Date With Time
  #deets
    p#from <span>From:</span> &nbsp; &nbsp; #{this.firstName} #{this.lastName} #{this.from}
    p#to <span>To:</span> &nbsp; &nbsp; #{this.to}
    p#dateAndTime <span>Date:</span> &nbsp; &nbsp; #{Day} #{Month} #{Year} | #{Hour}:#{Minutes} #{TimeOfDay}
    hr#divide

  p#opening #{greeting} Nathan,
  p#message #{message}
  p#closing  — #{firstName} #{lastName} 