extends baseEmail

block content
  // From
  // To
  // Date With Time
  #deets
    p#from <span>From:</span> &nbsp; &nbsp; #{from}
    p#to <span>To:</span> &nbsp; &nbsp; #{to}
    p#dateAndTime <span>Date:</span> &nbsp; &nbsp; #{DayOfWeek} #{day} #{month} #{year} | #{hour}:#{minutes} #{TimeOfDay}
    hr#divide

  p#opening #{greeting} Nathan,
  p#message #{message}
  p#closing  — #{firstName} #{lastName} 